# Entornos virtuales
env/
venv/
*.pyc
__pycache__/

# Archivos SQLite (pueden ignorarse si no los necesitas versionar)
#db.sqlite3

# Configuración de Pytest
.pytest_cache/
*.html  # Reportes HTML si no los necesitas en el repo

# Archivos de VSCode o editores
.vscode/
.idea/

# Archivos temporales o del sistema
.DS_Store
Thumbs.db

# Archivos de pruebas
*.log
*.tmp

# Compilados de Python
*.py[cod]
__pycache__/

# Archivos de configuraciones del sistema o de testing
NUL

